* {
    scroll-behavior: smooth;
}

html body {
    height: 100%;
}

h1 {
    color: rgb(225, 221, 143);
}

.lead {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: rgb(224, 251, 252);
}

.container img {
    height: 200px;
    width: 200px;
}

.container p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar-nav .nav-item {
    font-size: 20px;
    margin-left: 60px;
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Russo One', sans-serif;
    color: rgb(225, 221, 143);
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(0, 123, 255);
}

#name {
    /* font-family: 'Montserrat', sans-serif; */
    color: rgb(0, 123, 255);
}

#more {
    display: none;
}

#project-title {
    text-decoration: underline dashed rgb(0, 123, 255);
}

.fa {
    padding: 30px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.card .card-body a {
    text-decoration: none;
}

.card .card-body .card-title {
    font-family: 'Anonymous Pro', monospace;
}

.card .card-body .card-text {
    font-family: 'IBM Plex Serif', serif;
}

.card .card-img-top {
    height: 208px;
    width: 348px;
}

.project-container .row {
    margin-bottom: 20px;
}

.project-container .row .card:hover {
    box-shadow: 5px 10px 8px #888888;
    transition: box-shadow 800ms;
    transition-timing-function: box-shadow ease-in-out;
}

.project-container .row .card .text-link {
    color: rgb(0, 123, 255);
}

.project-container .row .card .text-link:hover {
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 5px;
    border-radius: 25px;
}

.mail {
    font-size: 25px;
}

.contact-me p {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: rgb(225, 221, 143);
}

h2 {
    font-family: 'Russo One', sans-serif;
}

.contact-me .footer-copyright {
    font-family: 'Signika', sans-serif;
}